<div class="container-fluid header-menu">
    <div class="row">
        <div class="col">
            <i class="fa fa-2x fa-bars menu-toggle-button" aria-hidden="true" (click)="toggleLeftMenu()"></i>
        </div>
        <div class="col text-center">
            <a>
                <img class="logo-image" src="./assets/images/fiery-lotos-logo.png" alt="Fiery Lotos"/>
            </a>
        </div>
        <div class="col text-right">
            <div class="header-menu-right-button">
                <a title="User">
                    <i class="fa fa-user fa-2x"></i>
                    <span>Lotos</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div #menuAndContentWrapper class="menu-and-content-wrapper">
    <div [ngStyle]="{'min-height': contentHeight+'px'}" class="menu-left" [hidden]="!isLeftMenuVisible">
        <ul>
            <li [ngClass]="{'open': isSchedeMenuOpened}">
                <a class="cursor" data-toggle="collapse" data-target="#menu-category1" (click)="toggleSchedeMenuArrow()">
                    <div>
                        <i class="fa fa-address-card-o"></i> Category 1
                        <i class="fa pull-right" [ngClass]="{'fa-angle-right': isSchedeMenuOpened, 'fa-angle-down': !isSchedeMenuOpened}"></i>
                    </div>
                </a>
                <ul id="menu-category1" class="collapse in">
                    <li>
                        <a>Item 1</a>
                    </li>
                    <li>
                        <a>Item 2</a>
                    </li>
                    <li>
                        <a>Item 3</a>
                    </li>
                    <li>
                        <a>Item 4</a>
                    </li>
                    <li>
                        <a>Item 5</a>
                    </li>
                    <li>
                        <a>Item 6</a>
                    </li>
                    <li>
                        <a>Item 7</a>
                    </li>
                    <li>
                        <a>Item 8</a>
                    </li>
                    <li>
                        <a>Item 9</a>
                    </li>
                </ul>
            </li>
            <li [ngClass]="{'open': isRegistrazioneMenuOpened}">
                <a class="cursor" data-toggle="collapse" data-target="#menu-category2" (click)="toggleRegistrazioneMenuArrow()">
                    <i class="fa fa-handshake-o"></i> Category 2
                    <i class="fa pull-right" [ngClass]="{'fa-angle-right': isRegistrazioneMenuOpened, 'fa-angle-down': !isRegistrazioneMenuOpened}"></i>
                </a>
                <ul id="menu-category2" class="collapse in">
                    <li>
                        <a>Item 1</a>
                    </li>
                    <li>
                        <a>Item 2</a>
                    </li>
                    <li>
                        <a>Item 3</a>
                    </li>
                    <li>
                        <a>Item 4</a>
                    </li>
                    <li>
                        <a>Item 5</a>
                    </li>
                    <li>
                        <a>Item 6</a>
                    </li>
                    <li>
                        <a>Item 7</a>
                    </li>
                    <li>
                        <a>Item 8</a>
                    </li>
                    <li>
                        <a>Item 9</a>
                    </li>
                    <li>
                        <a>Item 10</a>
                    </li>
                </ul>
            </li>
            <li [ngClass]="{'open': isReportMenuOpened}">
                <a class="cursor" data-toggle="collapse" data-target="#menu-category3" (click)="toggleReportMenuArrow()">
                    <i class="fa fa-file-text-o"></i> Category 3
                    <i class="fa pull-right" [ngClass]="{'fa-angle-right': isReportMenuOpened, 'fa-angle-down': !isReportMenuOpened}"></i>
                </a>
                <ul id="menu-category3" class="collapse in">
                    <li>
                        <a>Item 1</a>
                    </li>
                    <li>
                        <a>Item 2</a>
                    </li>
                    <li>
                        <a>Item 3</a>
                    </li>
                    <li>
                        <a>Item 4</a>
                    </li>
                    <li>
                        <a>Item 5</a>
                    </li>
                    <li>
                        <a>Item 6</a>
                    </li>
                </ul>
            </li>
        </ul>
        </div>

    <div #content class="container-fluid" [ngClass]="{'main-content': isLeftMenuVisible}">
        <h1>Title</h1>
        <div [ngClass]="{'show-scroll': showScroll}" 
                (click)="scrollToTop()" 
                class="scroll-to-top scroll-button">
          <i class="fa fa-arrow-up"></i> вверх
        </div>
    </div>
</div>

<app-loader></app-loader>